-
  // Creative commons license
  const ccTpl = page.license ?
    `<a alt="${page.license}" href="${theme.cclicense[page.license.toLowerCase()]}" target="_blank">${page.license}</a>`
    : null;

.simple-post
  h1.title
    = page.title || page.link
  p.post-meta
    span.meta.date=page.date.format(config.date_format)
    if ccTpl
      span.meta.license
        != ccTpl
    if page.author
      span.meta.author=page.author

  #post-content.markdown-content
    != page.content

  hr.post-end
  .post-footer
    div.post-license
      if ccTpl
        !=theme.cclicense.text.replace('@license', ccTpl)

    include _partial/article-tags
